{
  "extends": ["react-app", "prettier"],
  "plugins": ["import", "react-hooks"],
  "globals": {
    "chrome": "readonly"
  },
  "rules": {
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
	"react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
